.badge {
    display: inline-block;
    width: 10px;
    height: 10px;

    border-radius: 50%;

    &-grey {
        background-color: #C9D1D3;
    }
    &-lime {
        background-color: #B6E6BD;
    }
    &-black {
        background-color: #08001a;
    }
    &-red {
        background-color: #FF6464;
    }
    &-purple {
        background-color: #C355F5;
    }
    &-green {
        background-color: #42B883;
    }
    &-blue {
        background-color: #64C4ED;
    }
    &-pink {
        background-color: #FFBBCC;
    }
}